<section class="main-section">
	<div class="title-bar">
		<div class="title">Qualia | Studios</div>
	</div>
</section>

<section class="team-section">
	<div class="team-section-title">
		About Us
	</div>
	<div class="photo-container">
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
	</div>
</section>
