<section class="main-section">
	<div class="title-bar">
		<div class="title">Qualia | Studios</div>
	</div>
</section>

<section class="team-section">
	<div class="team-section-title">
		Who are we?
	</div>
	<div class="team-description">
		We are a group of passionate web developers committed to bringing your ideas to life. We work across technologies and platforms - from Rails/Javascript to Android/iOS, and everything in between.
	</div>
	<div class="photo-container">
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
	</div>
</section>
