<header>
	<div class="row">
		<ul class="header-menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Clients</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</header>


<section class="main-section">
	<div class="title-bar">
		<div class="title">Qualia | Studios</div>
	</div>
</section>

<section class="team-section section black">
	<div class="team-section-title section-title white">
		Who are we?
	</div>
	<div class="team-description">
		We are a group of passionate web developers committed to bringing your ideas to life. We work across technologies and platforms - from Rails/Javascript to Android/iOS, and everything in between.
	</div>
	<div class="photo-container">
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
		<div class="photo-port">
			<a href="#"><img class="photo" src="http://jylcreations.com/assets/jimmy-face.png"></a>
		</div>
	</div>
</section>

<section class="client-section section">
	<div class="client-section-title section-title black">
		Select Clients
	</div>
	<div class="clients-container">
		<img class="client-link" src="http://mobispoke.com/wp-content/uploads/2013/06/bose.png" alt="Bose">
		<img class="client-link" src="http://mobispoke.com/wp-content/uploads/2013/06/bose.png" alt="Bose">
		<img class="client-link" src="http://mobispoke.com/wp-content/uploads/2013/06/bose.png" alt="Bose">
		<img class="client-link" src="http://mobispoke.com/wp-content/uploads/2013/06/bose.png" alt="Bose">
		<img class="client-link" src="http://mobispoke.com/wp-content/uploads/2013/06/bose.png" alt="Bose">
		<img class="client-link" src="http://mobispoke.com/wp-content/uploads/2013/06/bose.png" alt="Bose">
	</div>
</section>
