@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

.ui-tooltip {
  background: black;
  color: white;
  width: 250px;
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  h3 {
  	font-size: 18px;
  	font-weight: 600;
  	margin: 0px;
  	padding: 0;
  }
  p {
  	font-size: 14px;
  	line-height: 1.5em;
  	margin-top: 10px;
  	padding: 0;
  }
}

.ui-tooltip-content {
  position: relative;
  padding: 10px 5px 5px 10px;
}

.photo-port {
	position: relative;
	@include transition(bottom 0.2s linear);
	&.hovered {
		bottom: 10px;
		@include transition(bottom 0.2s linear);
	}
}