// Tooltip stuff
.ui-tooltip {
  background: black;
  color: white;
  width: 270px;
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  h3 {
  	font-size: 17px;
  	font-weight: 600;
  	margin: 0px;
  	padding: 0;
  }
  p {
  	font-size: 14px;
  	line-height: 1.4em;
  	margin-top: 10px;
  	padding: 0;
  }
}

.ui-tooltip-content {
  position: relative;
  padding: 10px 5px 5px 10px;
}